header{
    z-index: 1;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.dadocontainer{
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}
.title{
    align-self: flex-start;
    font-size: 1.5em;
    font-weight: 600;
}
.dado{
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.75em;
    font-weight: 600;
    color: white;
    z-index: 0;
}
.rolar{
    background-color: var(--amarelo);
    width: 175px;
    padding: 1.25em 0;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.rolar:hover{
    scale: 1.1;
}
#d8{
    background-image: url("/imagens/d8.png");
}
#d20{
    background-image: url("/imagens/d20.png");
    background-position: -2px 0;
}
#d6{
    background-image: url("/imagens/d6.png");
    background-position: 10px -15px;
}
.dadosEstilo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.SelecionarQnt{
    background-color: var(--amarelo);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0.5em;
    border-radius: 8px;
    position: absolute;
    left: 0;
}
.SelecionarQnt select:hover{
    background-color: var(--verde);
    border-radius: 8px;
    color: white;
}
.SelecionarQnt select{
    background-color: transparent;
    outline: none;
    border: none;
}
@keyframes apertarBotao {
    0%{
        background-color: var(--amarelo);
    }
    50%{
        background-color: var(--verde);
        scale: 1.2;
        color:white;
    }
    100%{
        background-color: var(--amarelo);
        scale: 1;
    }
}
.rolar.animando {
    animation: apertarBotao 1s;
}
@media(max-width: 900px){
    .SelecionarQnt{
        position: static;
    }
    .btns{
        gap: 2em;
    }
}