main{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.personagem{
    display: flex;
    gap: 1em;
}
.personagem img{
    width: 225px;
    height: 200px;
    border-radius: 0.25em;
}
.personDesc{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    font-weight: 500;
}
.condicoes{
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
}
.condicoes button{
    color: white;
    width: fit-content;
    font-weight: 400;
    font-size: 0.75em;
    background-color: var(--vermelho);
    padding: 0.5em;
    display: inline-block;
    border-radius: 0.25em;
}
.condicoes button:hover{
    scale: 1.1;
}
.break{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.15em;
}
.break p{
    white-space: nowrap;
}
.break .linha{
    width: 100%;
    border: 3px solid black;
    height: 1px;
    border-radius: 1000px;
}
.partes{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.parte{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.parte ul{
    width: 85%;
    margin: 0 auto;
}
.dotline{
    width: 100%;
    height: 1px;
    border: 3px dashed black;
    align-self: center;
}
.durabilidade{
    background-color: black;
    color: white;
    width: fit-content;
}
#durabtitulo{
    font-size: 0.75em;
}
.durabValores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px;
    font-size: 1.5em;
}
.durabValores p:nth-child(2){
    border-left: 2px dashed rgba(255, 255, 255, 0.8);
    border-right: 2px dashed rgba(255, 255, 255, 0.8);
}
.comportamento{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.descContainer{
    width: 80%; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.descTitulo{
    transform: translateX(-50px);
    z-index: -1;
    margin-bottom: 0.75em;
}
.pontos, .tracos{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
}
.pontos .titulo, .tracos .titulo{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}
.estiloContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}
.estilo, .habilidade{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40px;
    font-weight: 600;
}
.estilo p, .habilidade p{
    border: 2px solid black;
}
.amarelo{
    color: var(--amarelo);
}
.azul{
    color: var(--azul);
}
.verde{
    color: var(--verde);
}
.vermelho{
    color: var(--vermelho);
}
.habilidadesContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px 40px;
    gap: 2em;
    grid-row-gap: 1em;
}
.traco{
    font-weight: 600;
}
.adicionais{
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-top: 1em;
    width: 90%;
    margin: 0 auto;
}
.adicionais .titulo{
    font-size: 1.5em;
    font-weight: 600;
}
.adc{
    color: var(--azul2);
    font-size: 1.25em;
    font-weight: 600;
    width: 95%;
    margin: 0 auto;     
}

@media(max-width: 750px){
    .estilo, .habilidade{
        font-size: 0.75em;
    }
}
@media(max-width: 650px){
    .personagem{
        flex-direction: column;
    }
    .habilidadesContainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px 40px 40px 40px;
        gap: 1em;
        font-size: 0.65em;
        grid-row-gap: 1em;
    }
    .estiloContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40px);
        gap: 2em;
    }
}